    *,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
    }
    
    .home {
        max-height: 100vh;
        background: url(images/Group\ 22.png) center/cover no-repeat;
        overflow: auto;
        position: relative;
    }
    
    .home::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    .home_photo {
        width: 100vw;
        padding-bottom: 56.25%;
        height: 100vh;
    }
    
    .home img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
    
    .home_content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        font-family: sans-serif;
    }
    
    .live_stream {
        margin-top: 20px;
        background-color: #333434;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px;
        width: 75vw;
        margin-right: auto;
        height: 50vh;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .figures {
        display: flex;
        padding: 10px;
    }
    
    .sensors_1 {
        margin-left: 10px;
        margin-right: 20px;
        background-color: #333434;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px;
        width: 35vw;
        height: 50vh;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
    
    .sensors_2 {
        background-color: #333434;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px;
        width: 35vw;
        height: 50vh;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
    
    .sensors_2 {
        background-color: #333434;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px;
        width: 35vw;
        height: 50vh;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
    
    .in_sensors_2 {
        background-color: #303030;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px;
        width: 15vw;
        height: 30vh;
        margin-top: 10px;
        margin-right: 7px;
    }
    
    .title_stream {
        box-sizing: border-box;
        border-radius: 15px;
        border-color: #2EE7D7;
        border-style: solid;
        border-width: 2px;
        size: 10pt;
        color: white;
        padding: 10px;
        font-size: 15pt;
        font-weight: lighter;
    }
    
    .rects_ {
        display: flex;
    }